#Ignore images and back-up images
/images
/backup_images
/backup_cleaned_images
/imbalanced_dataset
/oversampled_dataset

#Ignore zip files
*.zip

#Ignore .csv files
*.csv

#ignore .keras files
*.keras