#Ignore images and back-up images
/images
/backup_images
/backup_cleaned_images
/imbalanced_dataset
/oversampled_dataset
/undersampled_dataset

#Ignore model files
*.keras

#Ignore zip files
*.zip

#Ignore .csv files
*.csv